#sidebar-dimmer {
  display: none;
}

+mobile() {
  #sidebar-dimmer {
    background: black;
    display: block;
    height: 100%;
    left: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-1;
  }

  .sidebar-active + #sidebar-dimmer {
    opacity: .7;
    transform: translateX(-100%);
    transition: opacity .5s;
  }
}
