.site-state {
  display: flex;
  justify-content: center;
  line-height: 1.4;
  margin-top: 10px;
  overflow: hidden;
  text-align: $site-state-align;
  white-space: nowrap;
}

.site-state-item {
  padding: 0 15px;

  &:not(:first-child) {
    border-left: 1px solid $site-state-item-border-color;
  }

  a {
    border-bottom: none;
  }
}

.site-state-item-count {
  color: $site-state-item-count-color;
  display: block;
  font-size: $site-state-item-count-font-size;
  font-weight: $font-weight-bold;
  text-align: center;
}

.site-state-item-name {
  color: $site-state-item-name-color;
  font-size: $site-state-item-name-font-size;
}
