.table-container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $table-font-size;
  margin: 0 0 20px 0;
  width: $table-width;
}

table > tbody > tr {
  &:nth-of-type(odd) {
    background-color: $table-row-odd-bg-color;
  }

  &:hover {
    background-color: $table-row-hover-bg-color;
  }
}

caption, th, td {
  font-weight: normal;
  padding: $table-cell-padding;
  text-align: $table-content-alignment;
  vertical-align: $table-content-vertical;
}

th, td {
  border: 1px solid $table-border-color;
  border-bottom: 3px solid $table-cell-border-bottom-color;
}

th {
  font-weight: $table-th-font-weight;
  padding-bottom: 10px;
}

td {
  border-bottom-width: 1px;
}
