// Blockquote with all children centered.
.blockquote-center {
  border-left: none;
  margin: 40px 0;
  padding: 0;
  position: relative;
  text-align: center;

  &::before, &::after {
    background-position: 0 -6px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    content: ' ';
    display: block;
    height: 24px;
    opacity: .2;
    position: absolute;
    width: 100%;
  }

  &::before {
    background-image: url($center-quote-left);
    border-top: 1px solid $grey-light;
    top: -20px;
  }

  &::after {
    background-image: url($center-quote-right);
    background-position: 100% 8px;
    border-bottom: 1px solid $grey-light;
    bottom: -20px;
  }

  p, div {
    text-align: center;
  }
}
