.post .post-body .group-picture {
  img {
    border: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 3px;
  }
}

.post-body .group-picture-row {
  margin-bottom: 6px;
  overflow: hidden;
}

.post-body .group-picture-column {
  float: left;
  margin-bottom: 10px;
}

.page-archive {
  .group-picture-container {
    overflow: hidden;
  }

  .group-picture-row {
    float: left;

    &:first-child {
      margin-top: 6px;
    }
  }

  .group-picture-column {
    max-height: 150px;
    max-width: 150px;
  }
}
