.post .post-body .group-picture {
  img {
    box-sizing: border-box;
    padding: 0 3px;
    border: none;
    margin: 0 auto;
  }
}

.post-body .group-picture-row {
  overflow: hidden;
  margin-bottom: 6px;
}

.post-body .group-picture-column {
  float: left;
  margin-bottom: 10px;
}

.page-archive {
  .group-picture-container { overflow: hidden; }
  .group-picture-row {
    float: left;
    &:first-child { margin-top: 6px; }
  }

  .group-picture-column {
    max-width: 150px;
    max-height: 150px;
  }
}
