.post-body .tabs {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
  // Read tabs border_radius from NexT config and set in "tbr px" to use it as string variable in this CSS section.
  hexo-config('tabs.border_radius') is a 'unit' ? (tbr = unit(hexo-config('tabs.border_radius'), px)) : (tbr = 0);

  ul.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;

    +mobile-smallest() {
      display: block;
      margin-bottom: 5px;
    }

    li.tab {
      flex-grow: 1;
      border-top: 3px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid transparent;
      background-color: #fff;
      list-style-type: none;

      +mobile-smallest() {
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 3px solid transparent;
      }

      if (tbr > 0) {
        border-radius: tbr tbr 0 0;

        +mobile-smallest() {
          border-radius: tbr;
        }
      }

      if (hexo-config('tabs.transition.tabs')) {
        the-transition-ease-out();
      }

      & a {
        display: block;
        padding: 0.25em 0.75em;
        outline: 0;
        border-bottom: initial;
        text-align: center;
        line-height: 1.8em;

        & i {
          width: (18em / 14);
        }

        if (hexo-config('tabs.transition.labels')) {
          the-transition-ease-out();
        }
      }

      &.active {
        border-top: 3px solid $orange;
        border-right: 1px solid $table-border-color;
        border-bottom: 1px solid transparent;
        border-left: 1px solid $table-border-color;

        +mobile-smallest() {
          border-top: 1px solid $table-border-color;
          border-right: 1px solid $table-border-color;
          border-bottom: 1px solid $table-border-color;
          border-left: 3px solid $orange;
        }

        & a {
          color: $link-color;
          cursor: default;
        }
      }
    }
  }

  .tab-content {
    .tab-pane {
      padding: 20px 20px 0 20px;
      border: 1px solid $table-border-color;

      if (tbr > 0) {
        border-radius: tbr;
      }

      &:not(.active) {
        display: none;
      }

      &.active {
        display: block;

        if (tbr > 0) {
          &:nth-of-type(1) {
            border-radius: 0 tbr tbr tbr;

            +mobile-smallest() {
              border-radius: tbr;
            }
          }
        }
      }
    }
  }
}
