// Variables of Gemini scheme
// =================================================

@import "Pisces.styl";

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color                    = #eee
$main-desktop                     = 75%
$sidebar-width                    = hexo-config('sidebar_width') is a 'unit' ? hexo-config('sidebar_width') : 240
$sidebar-desktop                  = unit($sidebar-width, 'px')
$content-desktop                  = 'calc(100% - %s)' % unit($sidebar-width + 12, 'px')

// Borders.
// --------------------------------------------------
$box-shadow-inner                 = 0 2px 2px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.06), 0 1px 5px 0 rgba(0,0,0,.12)
$box-shadow                       = 0 2px 2px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.06), 0 1px 5px 0 rgba(0,0,0,.12), 0 -1px .5px 0 rgba(0,0,0,.09)

$border-radius-inner              = initial
$border-radius                    = initial
//$border-radius-inner            = 0 0 3px 3px;
//$border-radius                  = 3px;
