// Variables of Mist scheme
// ==================================================

@import "Muse.styl";

$link-decoration-color   = $grey-light;
$content-bg-color        = $whitesmoke;
$menu-item-bg-color      = $gray-lighter;

$brand-color             = $black-deep;
$brand-hover-color       = $brand-color;
$brand-color-dark        = white;
$brand-hover-color-dark  = $brand-color-dark;

$site-meta-text-align    = left;
$posts-collapse-left     = 0;

$btn-default-bg                 = transparent;
$btn-default-color              = var(--link-color);
$btn-default-hover-bg           = transparent;
$btn-default-border-color       = var(--link-color);
$btn-default-hover-color        = var(--link-hover-color);
$btn-default-hover-border-color = var(--link-hover-color);
