// Variables of Muse scheme
// =================================================

$sidebar-width                = hexo-config('sidebar.width') is a 'unit' ? hexo-config('sidebar.width') : 320;
$sidebar-desktop              = unit($sidebar-width, 'px');
