.posts-expand {
  padding-top: 40px;

  +mobile() {
    margin: 0 20px;
  }
}

.post-body {
  +desktop() {
    text-align: unquote(hexo-config('text_align.desktop'));
  }

  +tablet-mobile() {
    text-align: unquote(hexo-config('text_align.mobile'));
  }

  h1, h2, h3, h4, h5, h6 {
    padding-top: 10px;

    .header-anchor {
      border-bottom-style: none;
      color: $grey-light;
      float: right;
      margin-left: 10px;
      visibility: hidden;

      &:hover {
        color: inherit;
      }
    }

    &:hover .header-anchor {
      visibility: visible;
    }
  }

  iframe, img, video {
    margin-bottom: 20px;
  }

  .video-container {
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    width: 100%;

    iframe, object, embed {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
