#reward-container {
  margin: 20px auto;
  padding: 10px 0;
  width: 90%;
  text-align: center;
}

#reward-button {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: #F44336;
  color: #fff;
  vertical-align: text-top;
  text-indent: 0px;
  text-transform: none;
  text-shadow: none;
  letter-spacing: normal;
  line-height: 2;
  cursor: pointer;
}

#reward-button span:hover {
  background: #F7877F;
}

#qr {
  padding-top: 20px;

  a {
    border: 0;
  }

  img {
    display: inline-block;
    margin: 0.8em 2em 0 2em;
    max-width: 100%;
    width: 180px;
  }

  p {
    text-align: center;
  }

  if (hexo-config('reward_settings.animation')) {
    & > div:hover p {
      animation: roll 0.1s infinite linear;
    }

    @keyframes roll {
      from {
        transform: rotateZ(30deg);
      }

      to {
        transform: rotateZ(-30deg);
      }
    }
  }
}
