.post-widgets {
  border-top: 1px solid $gainsboro;
  margin-top: 15px;
  text-align: center;
}

.wp_rating {
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  padding-top: 6px;
  text-align: center;
}

.social-like {
  display: flex;
  font-size: $font-size-small;
  justify-content: center;
  text-align: center;
}

.vk_like {
  align-self: center;
  height: 21px;
  padding-top: 7px;
  width: 85px;
}

.fb_like {
  align-self: center;
  height: 30px;
}
