.post-widgets {
  border-top: 1px solid $gainsboro;
  margin-top: 15px;
  text-align: center;
}

.wp_rating {
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  padding-top: 6px;
  text-align: center;
}

.social-like {
  display: flex;
  font-size: $font-size-small;
  justify-content: center;
  text-align: center;
}
