.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  color: $grey-dark;
  font-family: $font-family-posts;
  font-size: $font-size-smallest;
  text-align: center;

  .post-description {
    font-size: $font-size-small;
    margin-top: 2px;
  }

  time {
    border-bottom: 1px dashed $grey-dark;
    cursor: help;
  }
}

.post-meta-divider {
  margin: 0 .5em;
}

.post-meta .post-meta-item + .post-meta-item::before {
  content: "|";
  margin: 0 .5em;
}

.post-meta-item-icon {
  margin-right: 3px;
  +tablet-mobile() {
    display: inline-block;
  }
}

.post-meta-item-text {
  +tablet-mobile() {
    hide();
  }
}
