.post-copyright {
  background-color: $post-copyright.bg;
  border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;
  list-style: none;
  margin: $post-copyright.margin;
  padding: $post-copyright.padding;
}
