.post-widgets {
  margin-top: 45px;
  border-top: 1px solid #eee;
  text-align: center;
}

.wp_rating {
  margin-top: 10px;
  padding-top: 6px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.social-like {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: $font-size-small;
}

.vk_like {
  align-self: center;
  padding-top: 7px;
  width: 85px;
  height: 21px;
}

.fb_like {
  align-self: center;
  height: 30px;
}
