.post-gallery {
  border-collapse: separate;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.post-gallery-row {
  display: table-row;
}

.post-gallery .post-gallery-img {
  border: none;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  img {
    border: none;
    max-height: 100%;
    max-width: 100%;
  }
}

.fancybox-close, .fancybox-close:hover {
  border: none;
}
