.post-gallery {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;

  +mobile() {
    grid-template-columns: 1fr 1fr;
  }

  a {
    // For fancybox
    border: 0;
  }

  img {
    margin: 0;
  }
}
