.post-nav {
  border-top: 1px solid $gainsboro;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 10px;
}

.post-nav-item {
  flex: 1;

  a {
    border-bottom: none;
    display: block;
    font-size: $font-size-small;
    line-height: 1.6;
    position: relative;

    &:hover {
      border-bottom: none;
      color: $link-hover-color;
    }

    &:active {
      top: 2px;
    }
  }

  .fa {
    font-size: $font-size-smallest;
  }

  &:first-child {
    margin-right: 15px;

    a {
      padding-left: 5px;
    }

    .fa {
      margin-right: 5px;
    }
  }

  &:last-child {
    margin-left: 15px;
    text-align: right;

    a {
      padding-right: 5px;
    }

    .fa {
      margin-left: 5px;
    }
  }
}
