.posts-expand .post-title {
  word-wrap();
  font-weight: $font-weight-normal;
  margin: initial;
  text-align: center;

  if (hexo-config('post_edit.enable')) {
    .post-edit-link {
      border-bottom: none;
      color: $grey;
      display: inline-block;
      float: right;
      font-size: $font-size-larger;
      the-transition-ease-in();
      margin-left: -1.2em;

      +mobile-small() {
        margin-left: initial;
      }

      &:hover {
        color: black;
      }
    }
  }
}

.posts-expand .post-title-link {
  border-bottom: none;
  color: $black-light;
  display: inline-block;
  line-height: 1.2;
  position: relative;
  vertical-align: top;

  &::before {
    background-color: black;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    visibility: hidden;
    width: 100%;
    the-transition();
  }

  &:hover::before {
    transform: scaleX(1);
    visibility: visible;
  }

  .fa {
    font-size: $font-size-small;
    margin-left: 5px;
  }
}
