.post-nav {
  border-top: 1px solid $gainsboro;
  display: table;
  margin-top: 15px;
  width: 100%;
}

.post-nav-divider {
  display: table-cell;
  width: 10%;
}

.post-nav-item {
  display: table-cell;
  padding: 10px 0 0 0;
  vertical-align: top;
  width: 45%;

  a {
    border-bottom: none;
    color: $link-color;
    display: block;
    font-size: $font-size-small;
    line-height: 1.6;
    position: relative;

    &:hover {
      border-bottom: none;
      color: $link-hover-color;
    }

    &:active {
      top: 2px;
    }
  }

  .fa {
    font-size: $font-size-smallest;
    margin-right: 5px;
  }
}

.post-nav-next {
  a {
    padding-left: 5px;
  }
}

.post-nav-prev {
  text-align: right;

  a {
    padding-right: 5px;
  }

  .fa {
    margin-left: 5px;
  }
}
