.followme {
  color: #afafaf;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 1em 1.5em;
  margin: 2em 0 1em 0;

  .social-list {
    flex-wrap: wrap;

    .social-item {
      margin: 0.5em 2em;
    }
    @media (max-width: 1024px) {
      .social-item {
        margin: 0.5em 0.75em;
      }
    }

    .social-link {
      border: none;
      color: #565656;
      text-align: center;
      display:inline-block;

      .icon {
        width: 1.75em;
        height: 1.75em;
        font-size: 1.75em;
      }

      .label {
        display: block;
        font-size: 14px;
      }
    }
  }

  .align-center {
    align-items: center;
  }

  .flex {
    display: flex;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}
