.followme {
  align-items: center;
  background: $whitesmoke;
  border-left: 3px solid $red;
  color: $grey;
  display: flex;
  flex-direction: column;
  margin: 2em 0 1em 0;
  padding: 1em 1.5em;

  .social-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .social-item {
      margin: 0.5em 2em;
    }
    +tablet-mobile() {
      .social-item {
        margin: 0.5em 0.75em;
      }
    }

    .social-link {
      border: none;
      display:inline-block;
      text-align: center;

      .icon {
        font-size: 1.75em;
        height: 1.75em;
        width: 1.75em;
      }

      .label {
        display: block;
        font-size: 14px;
      }
    }
  }
}
