:root {
  --body-bg-color: $body-bg-color;
  --text-color: $text-color;
  --content-bg-color: $content-bg-color;
  --link-color: $link-color;
  --post-copyright-bg-color: $post-copyright-bg-color;
  --post-title-link-color: $post-title-link-color;
  --table-row-odd-bg-color: $table-row-odd-bg-color;
  --table-row-hover-bg-color: $table-row-hover-bg-color;
}

if (hexo-config('darkmode')) {
  @media (prefers-color-scheme: dark) {
    :root {
      --body-bg-color: $body-bg-color-dark;
      --text-color: $text-color-dark;
      --content-bg-color: $content-bg-color-dark;
      --link-color: $link-color-dark;
      --post-copyright-bg-color: $post-copyright-bg-color-dark;
      --post-title-link-color: $post-title-link-color-dark;
      --table-row-odd-bg-color: $table-row-odd-bg-color-dark;
      --table-row-hover-bg-color: $table-row-hover-bg-color-dark;
    }
  }
}
