the-transition() {
  transition-delay: 0s;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

the-transition-ease-in() {
  transition-delay: 0s;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

the-transition-ease-out() {
  transition-delay: 0s;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

mobile-smallest() {
  @media (max-width: 413px) {
    {block};
  }
}

mobile-small() {
  @media (max-width: 567px) {
    {block};
  }
}

mobile() {
  @media (max-width: 767px) {
    {block};
  }
}

tablet-mobile() {
  @media (max-width: 991px) {
    {block};
  }
}

tablet() {
  @media (min-width: 768px) and (max-width: 991px) {
    {block};
  }
}

desktop() {
  @media (min-width: 992px) {
    {block};
  }
}

desktop-large() {
  @media (min-width: 1200px) {
    {block};
  }
}

desktop-largest() {
  @media (min-width: 1600px) {
    {block};
  }
}

random-color($min, $max) {
  return floor(math(0, 'random') * ($max - $min + 1) + $min);
}

word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

disable-user-select() {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

sidebar-inline-links-item() {
  margin: 5px 0 0;

  a, span.exturl {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 216px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

flex-column() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
