.book-mark-link {
  border-bottom: none;
  display: inline-block;
  position: fixed;
  right: $b2t-position-right;
  top: -10px;
  transition: .3s;

  +tablet-mobile() {
    display: none;
  }
  &::before {
    color: unquote(hexo-config('bookmark.color'));
    content: '\f02e';
    font-family: $font-family-icons;
    font-size: 32px;
    line-height: 1;
  }
}

.book-mark-link:hover, .book-mark-link-fixed {
  top: -2px;
}
