// Header Section
// --------------------------------------------------
.header {
  background: $head-bg;
}

.header-inner {
  margin: 0 auto;
  width: $content-desktop;

  +desktop-large() {
    width: $content-desktop-large;
  }

  +desktop-largest() {
    width: $content-desktop-largest;
  }
}

.site-brand-container {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
}

@import 'headerband';
@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark' if (hexo-config('bookmark.enable'));

@import 'github-banner' if (hexo-config('github_banner.enable'));
