.site-nav-toggle {
  display: none;
  left: 10px;
  position: absolute;

  +mobile() {
    display: block;
  }

  button {
    background: transparent;
    border: 0;
    margin-top: 2px;
    padding: 9px 10px;
  }
}

.site-nav {
  display: block;

  +mobile() {
    border-top: 1px solid $gray-lighter;
    clear: both;
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
  }

  &.site-nav-on {
    display: block;
  }
}
