.post-body .group-picture img {
  border: 0;
  margin: 0 auto;
  padding: 0 3px;
}

.group-picture-row {
  margin-bottom: 6px;
  overflow: hidden;
}

.group-picture-column {
  float: left;
  margin-bottom: 10px;
}
