.post-body .label {
  color: $text-color;
  display: inline;
  padding: 0 2px;

  &.default {
    background: $label-default;
  }

  &.primary {
    background: $label-primary;
  }

  &.info {
    background: $label-info;
  }

  &.success {
    background: $label-success;
  }

  &.warning {
    background: $label-warning;
  }

  &.danger {
    background: $label-danger;
  }
}
