if (hexo-config('sidebar.position') == 'left') {
  .sidebar {
    left: 0;
    right: auto;
  }

  .sidebar-toggle, .back-to-top {
    left: $b2t-position-right;
    right: auto;

    +tablet-mobile() {
      left: $b2t-position-right-mobile;
    }
  }
}
