if (hexo-config('sidebar.position') == 'right') {
  .sidebar {
    right: 0;
    left: auto;
  }

  .sidebar-toggle, .back-to-top {
    right: $b2t-position-right;
    left: auto;

    +tablet-mobile() {
      right: $b2t-position-right-mobile;
    }
  }
}
