if (hexo-config('sidebar.position') == 'left') {
  .sidebar {
    right: auto;
    left: 0;
  }
  .sidebar-toggle, .back-to-top {
    right: auto;
    left: $b2t-position-right;

    +tablet-mobile() {
      left: $b2t-position-right-mobile;
    }
  }
}
