.container {
  min-height: 100%;
  position: relative;
}

.main-inner {
  margin: 0 auto;
  width: $content-desktop;

  +desktop-large() {
    .container & {
      width: $content-desktop-large;
    }
  }

  +desktop-largest() {
    .container & {
      width: $content-desktop-largest;
    }
  }
}

@import 'header';
@import 'sidebar';
@import 'footer';

@import 'mobile' if (hexo-config('mobile_layout_economy'));
