sidebar-inline-links-item() {
  margin: 5px 0 0;

  if (!hexo-config('social_icons.icons_only')) {
    width: 50%;
  }

  a, span.exturl {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 216px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
