.highlight-wrap {
  position: relative;
}

.highlight-wrap:hover .copy-btn, .highlight-wrap .copy-btn:focus {
  opacity: 1;
}

.copy-btn {
  position: absolute;
  display: inline-block;
  padding: 2px 6px;
  outline: 0;
  color: #333;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: $font-weight-bolder;
  line-height: 1.6;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  disable-user-select();

  if (hexo-config('codeblock.copy_button.style') == 'flat') {
    top: 0px;
    right: 0px;
    border: none;
    background-color: #fff;
    font-size: $font-size-smaller;
  } else if (hexo-config('codeblock.copy_button.style') == 'mac') {
    top: 2px;
    right: 0px;
    color: #fff;
    font-size: 14px;
  } else {
    top: 8px;
    right: 4px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    font-size: $font-size-smaller;
  }
}

if (hexo-config('codeblock.copy_button.style') == 'mac') {
  .highlight-wrap {
    margin-bottom: 1.6em;
    padding-top: 30px;
    border-radius: 5px;
    background: #21252b;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.4);
  }

  .highlight {
    margin: 0px !important;
    border-radius: 0 0 5px 5px;

    &::before {
      position: absolute;
      left: 12px;
      margin-top: -20px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #fc625d;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      content: ' ';
    }
  }
}
