.feed-link, .chat {
  margin-top: 10px;

  a {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid rgb(252, 100, 35) !important;
    border-radius: 4px;
    color: rgb(252, 100, 35);

    i {
      color: rgb(252, 100, 35);
    }

    &:hover {
      background: rgb(252, 100, 35);
      color: white;

      i {
        color: white;
      }
    }
  }
}
