.links-of-author {
  margin-top: 20px;

  a, span.exturl {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom-color: $black-light;
    vertical-align: middle;
    font-size: $font-size-smaller;

    if (hexo-config('social_icons.transition')) {
      the-transition();
    }

    &::before {
      display: inline-block;
      margin-right: 3px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: rgb(random-color(0, 255) - 50%, random-color(0, 255) - 50%, random-color(0, 255) - 50%);
      content: ' ';
      vertical-align: middle;
    }
  }
}
