.sidebar-toggle {
  position: fixed;
  right: $b2t-position-right;
  bottom: 45px;
  z-index: $zindex-5;
  padding: 5px;
  width: 14px;
  height: 14px;
  background: $black-deep;
  line-height: 0;
  cursor: pointer;

  +tablet-mobile() {
    right: $b2t-position-right-mobile;
    opacity: $b2t-opacity-hover;

        display: none;
 if (!hexo-config('sidebar.onmobile'));
  }
}

.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  margin-top: 3px;
  width: 100%;
  height: 2px;
  background: white;
  vertical-align: top;
  transition: all 0.4s;

  &:first-child {
    margin-top: 0;
  }
}

.sidebar-toggle:hover .sidebar-toggle-line {
  background: $sidebar-highlight;
}
