.feed-link, .chat {
  margin-top: 10px;

  a {
    border: 1px solid $orange;
    border-radius: 4px;
    color: $orange;
    display: inline-block;
    padding: 0 15px;

    .fa {
      margin-right: 5px;
    }

    &:hover {
      background: $orange;
      border: 1px solid $orange;
      color: white;

      .fa {
        color: white;
      }
    }
  }
}
