.sidebar-toggle {
  background: $black-deep;
  bottom: 45px;
  cursor: pointer;
  height: 14px;
  left: $b2t-position-right;
  line-height: 0;
  padding: 5px;
  position: fixed;
  width: 14px;
  z-index: $zindex-5;

  +tablet-mobile() {
    left: $b2t-position-right-mobile;
    opacity: $b2t-opacity-hover;

    if (!hexo-config('sidebar.onmobile')) {
      display: none;
    }
  }
}

.sidebar-toggle-line {
  background: white;
  display: inline-block;
  height: 2px;
  margin-top: 3px;
  position: relative;
  transition: all .4s;
  vertical-align: top;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }
}

.sidebar-toggle:hover .sidebar-toggle-line {
  background: $sidebar-highlight;
}
