.site-nav-toggle {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  +tablet() {
    display: block;
  }
}

.site-nav {
  border-top: none;

  +tablet() {
    display: none !important;
  }
}

.site-nav-on {
  +tablet() {
    display: block !important;
  }
}

.menu-item-active a {
  border-bottom-color: white;
  background: #f9f9f9;
  badges = hexo-config('menu_settings.badges');

  if (!badges) {
    &::after {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $grey;
      content: ' ';
    }
  }
}

.menu .menu-item {
  display: block;
  margin: 0;

  a, span.exturl {
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    line-height: inherit;
    transition-property: background-color;
    the-transition();

    &:hover {
      @extend .menu-item-active a;
    }

    disable-touch-hover();
  }

  .badge {
    display: inline-block;
    float: right;
    margin: 0.35em 0 0 0;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: $grey-light;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    font-weight: $font-weight-bolder;
    line-height: 1;
  }

  br {
    display: none;
  }
}

.btn-bar {
  background-color: white;
}
