.site-nav-toggle {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  +tablet() {
    display: block;
  }
}

.site-nav {
  border-top: none;

  +tablet() {
    display: none;
  }
}

.menu-item-active a {
  background: #f9f9f9;
  border-bottom-color: white;
  $badges = hexo-config('menu_settings.badges');

  if (!$badges) {
    &::after {
      background-color: $grey;
      border-radius: 50%;
      content: ' ';
      height: 6px;
      margin-top: -3px;
      position: absolute;
      right: 15px;
      top: 50%;
      width: 6px;
    }
  }
}

.menu .menu-item {
  display: block;
  margin: 0;

  a, span.exturl {
    box-sizing: border-box;
    line-height: inherit;
    padding: 5px 20px;
    position: relative;
    text-align: left;
    transition-property: background-color;
    the-transition();

    &:hover {
      @extend .menu-item-active a;
    }

    disable-touch-hover();
  }

  .badge {
    background-color: $grey-light;
    border-radius: 10px;
    color: white;
    display: inline-block;
    float: right;
    font-weight: $font-weight-bolder;
    line-height: 1;
    margin: .35em 0 0 0;
    padding: 2px 5px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    vertical-align: middle;
    white-space: nowrap;
  }

  br {
    display: none;
  }
}

.btn-bar {
  background-color: white;
}
