.site-nav-toggle {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  +tablet() {
    display: block;
  }

  .toggle .toggle-line {
    background: white;
  }
}

.site-nav {
  border-top: none;

  +tablet() {
    display: none;
  }
}

.menu-item-active a {
  background: $whitesmoke;

  if (!hexo-config('menu_settings.badges')) {
    &::after {
      background: $grey;
      border-radius: 50%;
      content: ' ';
      height: 6px;
      margin-top: -3px;
      position: absolute;
      right: 15px;
      top: 50%;
      width: 6px;
    }
  }
}

.menu .menu-item {
  display: block;
  margin: 0;

  a, span.exturl {
    padding: 5px 20px;
    position: relative;
    text-align: left;
    transition-property: background-color;

    &:hover {
      @extend .menu-item-active a;
    }
  }

  .badge {
    background: $grey-light;
    border-radius: 10px;
    color: white;
    float: right;
    padding: 2px 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    vertical-align: middle;
  }
}
