.sidebar {
  background: var(--body-bg-color);
  box-shadow: none;
  margin-top: 100%;
  position: static;
  width: $sidebar-desktop;

  +tablet-mobile() {
    display: none;
  }
}

.sidebar-toggle {
  display: none;
}

.sidebar-inner {
  background: var(--content-bg-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: var(--text-color);
  width: $sidebar-desktop;

  if (hexo-config('motion.enable') && hexo-config('motion.transition.sidebar')) {
    opacity: 0;
  }

  &.affix {
    position: fixed;
    top: $sidebar-offset;
  }

  &.affix-bottom {
    position: absolute;
  }
}

.site-state-item {
  padding: 0 10px;
}

.sidebar-button {
  border-bottom: 1px dotted $grey-light;
  border-top: 1px dotted $grey-light;
  margin-top: 10px;
  text-align: center;

  a {
    border: 0;
    color: $orange;
    display: block;

    &:hover {
      background: none;
      border: 0;
      color: darken($orange, 20%);

      .fa, .fab, .far, .fas {
        color: darken($orange, 20%);
      }
    }
  }
}

.links-of-author {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.links-of-author-item {
  sidebar-inline-links-item();

  if (!hexo-config('social_icons.icons_only')) {
    width: 50%;
  }

  a, span.exturl {
    border-bottom: none;
    display: block;
    text-decoration: none;

    &::before {
      display: none;
    }

    &:hover {
      background: var(--body-bg-color);
      border-radius: 4px;
    }
  }

  .fa, .fab, .far, .fas {
    margin-right: 2px;
  }
}

.links-of-blogroll-item {
  padding: 0;

  if (hexo-config('links_settings.layout') == 'inline') {
    display: inline-block;
    sidebar-inline-links-item();

    if (!hexo-config('social_icons.icons_only')) {
      width: unset;
    }
  }
}

if (hexo-config('back2top.sidebar')) {
  // Only when back2top.sidebar is true, apply the following styles
  .back-to-top {
    background: var(--body-bg-color);
    margin: 8px - $sidebar-offset -10px -18px;

    &.back-to-top-on {
      margin-top: 16px;
    }
  }
}
