.sidebar {
  bottom: auto;
  right: auto;

  a, span.exturl {
    color: $black-light;

    &:hover {
      border-bottom-color: $black-deep;
      color: $black-deep;
    }
  }
}

.sidebar-inner {
  background: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  // padding: 20px 10px 0;
  box-sizing: border-box;
  color: $text-color;
  width: $sidebar-desktop;

  if (hexo-config('motion.enable') && hexo-config('motion.transition.sidebar')) {
    opacity: 0;
  }

  &.affix {
    position: fixed;
    top: $sidebar-offset;
  }

  &.affix-bottom {
    position: absolute;
  }
}

.site-author {
  clearfix();
}

.site-state-item {
  padding: 0 10px;
}

.feed-link, .chat {
  border-bottom: 1px dotted $grey-light;
  border-top: 1px dotted $grey-light;
  text-align: center;

  a {
    border: 0;
    color: $orange;
    display: block;

    &:hover {
      background: none;
      border: 0;
      color: darken($orange, 20%);

      .fa {
        color: darken($orange, 20%);
      }
    }
  }
}

.links-of-author {
  // clearfix();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links-of-author-item {
  sidebar-inline-links-item();

  a, span.exturl {
    border-bottom: none;
    display: block;
    text-decoration: none;

    &::before {
      display: none;
    }

    &:hover {
      background: $gainsboro;
      border-radius: 4px;
    }
  }

  .fa {
    margin-right: 2px;
  }
}

.links-of-blogroll {
  padding: 3px 0 0;
  text-align: center;

  if (hexo-config('links_settings.layout') == 'inline') {
    clearfix();
  }
}

.links-of-blogroll-item {
  padding: 0;

  if (hexo-config('links_settings.layout') == 'inline') {
    sidebar-inline-links-item();

    if (!hexo-config('social_icons.icons_only')) {
      width: unset;
    }
  }
}
