.sub-menu {
  background: white;
  border-bottom: 1px solid $table-border-color;
  margin: 0;
  padding: 6px 0;

  .menu-item {
    display: inline-block;

    a, span.exturl {
      margin: 5px 10px;
      padding: initial;

      &:hover {
        background: initial;
        color: $sidebar-highlight;
      }
    }
  }

  .menu-item-active a {
    background: white;
    border-bottom-color: $sidebar-highlight;
    color: $sidebar-highlight;

    &:hover {
      background: white;
      border-bottom-color: $sidebar-highlight;
    }

    $badges = hexo-config('menu_settings.badges');

    if (!$badges) {
      &::after {
        content: initial;
      }
    }
  }
}
