.sub-menu {
  background: var(--content-bg-color);
  border-bottom: 1px solid $table-border-color;
  margin: 0;
  padding: 6px 0;

  .menu-item {
    display: inline-block;

    a, span.exturl {
      background: transparent;
      margin: 5px 10px;
      padding: initial;

      &:hover {
        background: transparent;
        color: $sidebar-highlight;
      }

      if (!hexo-config('menu_settings.badges')) {
        &::after {
          content: initial !important;
        }
      }
    }
  }

  .menu-item-active a {
    border-bottom-color: $sidebar-highlight;
    color: $sidebar-highlight;

    &:hover {
      border-bottom-color: $sidebar-highlight;
    }
  }
}
