// Footer Section
// --------------------------------------------------
.footer {
  color: $grey-dark;
  font-size: $font-size-small;
  padding: 20px 0;

  &.footer-fixed {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.footer-inner {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  width: $content-desktop;

  +desktop-large() {
    width: $content-desktop-large;
  }

  +desktop-largest() {
    width: $content-desktop-largest;
  }
}

@keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }

  10%, 30% {
    transform: scale(.9);
  }

  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }

  50%, 70% {
    transform: scale(1.1);
  }
}

.languages {
  display: inline-block;
  font-size: $font-size-large;
  position: relative;

  .lang-select-label span {
    margin: 0 .5em;
  }

  .lang-select {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.with-love {
  color: unquote(hexo-config('footer.icon.color'));
  display: inline-block;
  margin: 0 5px;

  if (hexo-config('footer.icon.animated')) {
    animation: iconAnimate 1.33s ease-in-out infinite;
  }
}

.powered-by, .theme-info {
  display: inline-block;
}
