.custom-logo {
  .site-meta-headline {
    text-align: center;
  }

  .site-title {
    color: $black-deep;
    margin: 10px auto 0;

    a {
      border: 0;
    }
  }
}

.custom-logo-image {
  background: white;
  margin: 0 auto;
  max-width: 150px;
  padding: 5px;
}

.brand {
  background: $btn-default-bg;
}
