.header-inner, .container .main-inner, .footer-inner {
  +mobile() {
    width: auto;
  }
}

.header-inner {
  +mobile() {
    padding: 50px 0 35px;
  }
}

embed {
  display: block;
  margin: 0 auto 25px auto;
}
