.header-inner, .main-inner, .footer-inner {
  +mobile() {
    width: auto;
  }
}

.header-inner {
  +mobile() {
    padding: 50px 0 0;
  }
}

.main-inner {
  padding-bottom: 60px;
}

.content {
  padding-top: 70px;

  +mobile() {
    padding-top: 35px;
  }
}

embed {
  display: block;
  margin: 0 auto 25px auto;
}
