.site-nav {
  +mobile() {
    background: white;
    border-bottom: 1px solid $gray-lighter;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.site-nav-toggle {
  top: 50px;
}

.menu {
  +mobile() {
    text-align: left;
  }
}

.menu-item-active a {
  border-bottom: 1px solid $menu-link-hover-border !important;
  color: $black-deep;

  +mobile() {
    border-bottom: 1px dotted $gray-lighter !important;
  }
}

.menu .menu-item {
  +mobile() {
    display: block;
    margin: 0 10px;
    vertical-align: top;
  }

  a, span.exturl {
    border-bottom: 1px solid transparent;

    +mobile() {
      padding: 5px 10px;
    }

    &:hover {
      @extend .menu-item-active a;
    }
  }

  .fa {
    +tablet() {
      display: block;
      line-height: 2;
      margin-right: 0;
      width: 100%;
    }

    +desktop() {
      display: block;
      line-height: 2;
      margin-right: 0;
      width: 100%;
    }
  }

  .badge {
    background: $gainsboro;
    padding: 1px 4px;
  }
}
