.back-to-top {
  background: $b2t-sidebar-bg-color;
  cursor: pointer;
  font-size: $b2t-font-size;
  margin: 20px - $sidebar-offset -10px -20px;
  opacity: $b2t-opacity;
  text-align: center;
  visibility: hidden;

  &:hover {
    opacity: $b2t-opacity-hover;
  }

  +tablet-mobile() {
        display: none;
 if (!hexo-config('sidebar.onmobile'));
  }

  &.back-to-top-on {
    visibility: visible;
    the-transition();
  }
}
