.back-to-top {
  visibility: hidden;
  margin: (20px - $sidebar-offset) -10px -20px;
  background: $b2t-sidebar-bg-color;
  font-size: $b2t-font-size;
  opacity: $b2t-opacity;
  cursor: pointer;
  text-align: center;
  &:hover { opacity: 0.8; }

  +tablet-mobile() {
    hexo-config('sidebar.onmobile') ? fixbutton() : hide();
  }

  &.back-to-top-on {
    visibility: visible;
    the-transition();
  }
}
