.back-to-top {
  background: $b2t-bg-color;
  bottom: $b2t-position-bottom;
  box-sizing: border-box;
  color: $b2t-color;
  cursor: pointer;
  font-size: $b2t-font-size;
  left: $b2t-position-right;
  opacity: $b2t-opacity;
  padding: 0 6px;
  position: fixed;
  text-align: center;
  transition-property: bottom;
  z-index: $zindex-5;
  the-transition();

  if (hexo-config('back2top.scrollpercent')) {
    width: initial;
  } else {
    width: 24px;

    span {
      display: none;
    }
  }

  &:hover {
    color: $sidebar-highlight;
  }

  &.back-to-top-on {
    bottom: $b2t-position-bottom-on;
  }

  +tablet-mobile() {
    left: $b2t-position-right-mobile;
    opacity: $b2t-opacity-hover;
  }
}
