.comments {
  margin: 60px 20px 0;
  overflow: hidden;
}

.comment-button-group {
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: center;

  .comment-button {
    margin: 0 0.2rem;
    &.active {
      background: $btn-default-hover-bg;
      border-color: $btn-default-hover-border-color;
      color: $btn-default-hover-color;
    }
  }

}

.comment-position {
  display: none;
}
.comment-position.active {
  display: block;
}
