if (hexo-config('back2top.enable')) {
  .back-to-top {
    font-size: $b2t-font-size;
    text-align: center;
    the-transition();
  }

  @import (hexo-config('back2top.sidebar') ? 'back-to-top-sidebar' : 'back-to-top');
}

@import 'reading-progress' if (hexo-config('reading_progress.enable'));

@import 'post';
@import 'pages';
@import 'third-party';

@import 'rainbow' if (hexo-config('safari_rainbow'));
