@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body::before {
    animation: rainbow 15s ease infinite;
    background: linear-gradient(124deg, #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff, #ff007f, #ff0000);
    background-size: 1000% 1000%;
    content: '';
    display: block;
    height: 100px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-99.99px);
    z-index: $zindex-5;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0 80%;
  }

  50% {
    background-position: 100% 20%;
  }

  100% {
    background-position: 0 80%;
  }
}
