// Scrollbar
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

// Track
::-webkit-scrollbar-track {
}

// Handle style
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border-radius: 10px;
}

// Inactive style
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, .1);
}

// Hover style
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .3);
}

// Active style
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, .4);
}
