// Menu
// --------------------------------------------------
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.menu-item {
  display: inline-block;
  list-style: none;
  margin: 0 10px;

  +mobile() {
    margin-top: 10px;
  }

  a, span.exturl {
    border-bottom: 1px solid $menu-link-border;
    display: block;
    font-size: $font-size-smaller;
    line-height: inherit;
    transition-property: border-color;
    the-transition();

    &:hover {
      border-bottom-color: $menu-link-hover-border;
    }
  }

  .fa {
    margin-right: 5px;
  }
}

.use-motion .menu-item {
  opacity: 0;
}
