.site-meta {
  margin: 0;
  text-align: $site-meta-text-align;

  +mobile() {
    text-align: center;
  }
}

.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  border-bottom: none;
  background: $brand-bg;
  color: $brand-color;
  line-height: $title-font-size;

  &:hover {
    color: $brand-hover-color;
  }
}

.logo {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  line-height: 36px;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
  font-size: $title-font-size;
  font-family: $font-family-logo;
  line-height: 1.5;
}

.site-subtitle {
  margin-top: 10px;
  color: $subtitle-color;
  font-size: $subtitle-font-size;
}

.use-motion {
  .brand {
    opacity: 0;
  }

  .logo, .site-title, .site-subtitle, .custom-logo-image {
    position: relative;
    top: -10px;
    opacity: 0;
  }
}
