.site-nav-toggle {
  position: absolute;
  left: 10px;
  display: none;

  +mobile() {
    display: block;
  }

  button {
    margin-top: 2px;
    padding: 9px 10px;
    border: none;
    background: transparent;
  }
}

.site-nav {
  +mobile() {
    display: none;
    clear: both;
    margin: 0 -10px;
    padding: 0 10px;
    border-top: 1px solid $gray-lighter;
  }

  +tablet() {
    display: block !important;
  }

  +desktop() {
    display: block !important;
  }
}
