.page-archive .posts-collapse {

  .archive-move-on {
    background: $grey-dark;
    border: 1px solid white;
    border-radius: 50%;
    height: 10px;
    left: 0;
    margin-left: -6px;
    position: absolute;
    top: 1em;
    width: 10px;
  }

  .archive-page-counter {
    font-size: $font-size-large;
    left: 20px;
    position: relative;
    top: 3px;

    +mobile() {
      top: 5px;
    }
  }
}
