ul.breadcrumb {
  margin: 1em 0;
  padding: 0 2em;
  list-style: none;
  text-align: center;
  font-size: $font-size-smallest;

  & li {
    display: inline;
  }

  & li+li::before {
    padding: 0.5em;
    content: '/\00a0';
    font-weight: normal;
  }

  & li+li:last-child {
    font-weight: bold;
  }
}
