@keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

#event-list {
  padding: 0px;

  hr {
    background: $black-deep;
    margin: 20px 0 45px 0;

    &::after {
      background: $black-deep;
      color: white;
      content: 'NOW';
      display: inline-block;
      font-weight: bold;
      padding: 0 5px;
      text-align: right;
    }
  }

  li.event {
    background: #f9f9f9;
    margin: 20px 0;
    min-height: 40px;
    padding-left: 10px;

    h2.event-summary {
      margin: 0;
      padding-bottom: 3px;

      &::before {
        color: $grey;
        content: '\f111';
        display: inline-block;
        font-family: $font-family-icons;
        font-size: 10px;
        margin-right: 25px;
        vertical-align: middle;
      }
    }

    span.event-relative-time {
      color: $grey;
      display: inline-block;
      font-size: 12px;
      font-weight: $font-weight-normal;
      padding-left: 12px;
    }

    span.event-details {
      color: $grey;
      display: block;
      line-height: 18px;
      margin-left: 56px;
      padding-bottom: 6px;
      padding-top: 3px;
      text-indent: -24px;

      &::before {
        color: $grey;
        display: inline-block;
        font-family: FontAwesome;
        margin-right: 9px;
        text-align: center;
        text-indent: 0;
        width: 14px;
      }

      &.event-location::before {
        content: '\f041';
      }

      &.event-duration::before {
        content: '\f017';
      }
    }
  }

  li.event-past {
    background: #fcfcfc;
    padding: 15px 0 15px 10px;

    > * {
      opacity: .9;
    }

    h2.event-summary {
      color: $grey;

      &::before {
        color: #dfdfdf;
      }
    }
  }

  li.event-now {
    background: $black-deep;
    color: white;
    padding: 15px 0 15px 10px;

    h2.event-summary {
      &::before {
        animation: dot-flash 1s alternate infinite ease-in-out;
        color: white;
      }
    }

    * {
      color: white !important;
    }
  }

  li.event-future {
    background: $black-deep;
    color: white;
    padding: 15px 0 15px 10px;

    h2.event-summary {
      &::before {
        animation: dot-flash 1s alternate infinite ease-in-out;
        color: white;
      }
    }

    * {
      color: white !important;
    }
  }
}
