@keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}

#event-list {
  padding-left: 30px;

  hr {
    margin: 20px 0 45px 0 !important;
    background: #222;

    &::after {
      display: inline-block;
      padding: 0 5px;
      background: #222;
      color: #FFF;
      content: 'NOW';
      text-align: right;
      font-weight: bold;
    }
  }

  li.event {
    margin: 20px 0px;
    padding-left: 10px;
    min-height: 40px;
    background: #F9F9F9;

    h2.event-summary {
      margin: 0;
      padding-bottom: 3px;

      &::before {
        display: inline-block;
        margin-right: 25px;
        color: #bbb;
        content: '\f111';
        vertical-align: middle;
        font-size: 8px;
        font-family: FontAwesome;
      }
    }

    span.event-relative-time {
      display: inline-block;
      padding-left: 12px;
      color: #bbb;
      font-weight: $font-weight-normal;
      font-size: 12px;
    }

    span.event-details {
      display: block;
      margin-left: 56px;
      padding-top: 3px;
      padding-bottom: 6px;
      color: #bbb;
      text-indent: -24px;
      line-height: 18px;

      &::before {
        display: inline-block;
        margin-right: 9px;
        width: 14px;
        color: #bbb;
        text-align: center;
        text-indent: 0;
        font-family: FontAwesome;
      }

      &.event-location::before {
        content: '\f041';
      }

      &.event-duration::before {
        content: '\f017';
      }
    }
  }

  li.event-past {
    padding: 15px 0 15px 10px;
    background: #FCFCFC;

    & > * {
      opacity: 0.9;
    }

    h2.event-summary {
      color: #bbb;

      &::before {
        color: #DFDFDF;
      }
    }
  }

  li.event-now {
    padding: 15px 0 15px 10px;
    background: #222;
    color: #FFF;

    h2.event-summary {
      &::before {
        color: #FFF;
        transform: scale(1.2);
        animation: dot-flash 1s alternate infinite ease-in-out;
      }
    }

    * {
      color: #FFF !important;
    }
  }

  li.event-future {
    padding: 15px 0 15px 10px;
    background: #222;
    color: #FFF;

    h2.event-summary {
      &::before {
        color: #FFF;
        transform: scale(1.2);
        animation: dot-flash 1s alternate infinite ease-in-out;
      }
    }

    * {
      color: #FFF !important;
    }
  }
}
