// Header
// --------------------------------------------------
.header {
  background: $whitesmoke;
}

.header-inner {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  clearfix();

  +mobile() {
    display: block;
    padding: 10px;
    width: auto;
  }
}

.site-meta {
  float: left;
  line-height: normal;
  margin-left: -20px;

  +mobile() {
    margin-left: 10px;
  }

  .brand {
    background: none;
    padding: 2px 1px;

    +mobile() {
      display: block;
    }
  }

  .site-title {
    font-weight: bolder;
  }
}

.logo-line-before, .logo-line-after {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;

  +mobile() {
    display: none;
  }

  i {
    background: $black-deep;
    display: block;
    height: 2px;
    position: relative;

    +mobile() {
      height: 3px;
    }
  }
}

.use-motion {
  .logo-line-before i {
    left: -100%;
  }

  .logo-line-after i {
    right: -100%;
  }
}

.site-subtitle {
  display: none;
}
