// Menu
// --------------------------------------------------
.site-brand-container {
  flex-shrink: 0;
}

.site-nav-toggle {
  float: right;
  position: static;
  top: 10px;
}

.site-nav {
  flex-grow: 1;

  +mobile() {
    transform: translateY(10px);
  }
}

.menu-item-active a {
  background: $gray-lighter;
}

.menu {
  margin: 0;

  +mobile() {
    margin: 10px 0;
    padding: 0;
  }

  .menu-item {
    margin: 0;

    +mobile() {
      display: block;
      margin-top: 5px;
    }

    a, span.exturl {
      border-radius: 2px;
      padding: 0 10px;
      transition-property: background;

      +mobile() {
        text-align: left;
      }

      &:hover {
        @extend .menu-item-active a;
      }
    }

    .badge {
      background: white;
      border-radius: 10px;
      color: $black-light;
      padding: 1px 4px;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    }
  }
}
