// Menu
// --------------------------------------------------
.site-nav-toggle {
  position: static;
  float: right;
}

.menu {
  //float: right;
  margin: 8px 0 0 0;

  +mobile() {
    margin: 20px 0 0 0;
    padding: 0;
  }

  br { display: none; }

  .menu-item {
    margin: 0;
    +mobile() { display: block; }

    .badge {
      display: inline-block;
      padding: 1px 4px;
      margin-left: 5px;
      font-weight: 700;
      line-height: 1;
      color: $black-light;
      text-align: center;
      white-space: nowrap;
      background-color: #fff;
      border-radius: 10px;
      text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
      +mobile() {
        float: right;
        margin: 0.35em 0 0 0;
      }
    }

  }

  .menu-item a {
    padding: 0 10px;
    border: none;
    border-radius: 2px;
    transition-property: background;

    +mobile() {
      text-align: left;
    }

    &:hover { background: #e1e1e1; }
  }

  a::before {
      display: none;

      +mobile() { display: block; }
    }

  +mobile() { float: none; }
}

.menu-item-active a {
  @extend .menu .menu-item a:hover;
}
