// Post Expand
// --------------------------------------------------
.posts-expand .home {
  .post-title, .post-meta {
    text-align: $site-meta-text-align;

    +mobile() {
      text-align: center;
    }
  }

  .post-meta {
    margin: 5px 0 20px 0;
  }
}

.posts-expand {
  padding-top: 0;

  .post-eof {
    display: none;
  }

  .post-block {
    margin-top: 120px;

    &:first-child {
      margin-top: 0;
    }
  }

  .post-title, .post-meta {
    text-align: center;
  }

  .post-title-link::before {
    background-color: $black-deep;
  }

  .post-body img {
    margin-left: 0;
  }

  .post-tags {
    text-align: left;

    a {
      background: $whitesmoke;
      border-bottom: none;
      padding: 1px 5px;
    }

    a:hover {
      background: $grey-light;
    }
  }

  .post-nav {
    margin-top: 40px;
  }
}

.post-button {
  margin-top: 20px;
  text-align: left;

  .btn {
    // color: $grey-dim;
    background: none;
    border: 0;
    border-bottom: 2px solid $grey-dim;
    font-size: $font-size-small;
    padding: 0;
    transition-property: border;

    &:hover {
      border-bottom-color: $black-deep;
    }
  }
}
